<mat-toolbar class="main-header">
    <mat-toolbar-row>
        <button mat-icon-button class="logo-icon" aria-label="Example icon-button with menu icon">
            <mat-icon svgIcon="coffee-store-logo"></mat-icon>
        </button>
        <span>Coffee Delights</span>
        <span class="spacer"></span>
        <button mat-icon-button [matTooltip]="aboutThePageMessage" class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>info</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>