<div class="row main-container">
  <div class="col-md-5 left-side-section">
    <mat-card>
      <img mat-card-image src="./../../assets/images/coffee-beans-backgound.jpg" alt="Photo of a cup of coffee">
    </mat-card>
  </div>
  <div class="col-md-7 right-side-section">
    <app-coffee-item *ngFor="let item of pagedCoffeeList" [coffeeItem]="item"></app-coffee-item>
    <mat-paginator [length]="coffeeList.length" [pageSizeOptions]="[5,10, 20, 25]" (page)="onPageChange($event)" showFirstLastButtons aria-label="Select page">
    </mat-paginator>
  </div>
</div>