.main-page-container {
    background-color: #f4f5f5;
    overflow-x: hidden;
}

.main-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.main-app-container {
    margin: 70px 0 5px 0;
}