<mat-card class="coffee-item-card">
    <mat-card-header>
        <mat-card-subtitle class="variety-data">{{ coffeeItem.variety }}</mat-card-subtitle>
        <mat-card-title class="name-data">{{ coffeeItem.blend_name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="notes-data">{{ coffeeItem.notes }}</p>
        <p>{{ coffeeItem.intensifier }}</p>
        <p class="origin-data"><mat-icon class="origin-icon">place</mat-icon> {{ coffeeItem.origin }}</p> 
    </mat-card-content>
</mat-card>